.d-block{
    display: block!important;
}

.d-flex{
    display: flex!important;
}

.d-none{
    display: none!important;
}

.d-inline-block{
    display: inline-block!important;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.w-100{
    width: 100%;
}

@media screen and (max-width:1200px){
    .d-md-block{
        display: block!important;
    }
    
    .d-md-flex{
        display: flex!important;
    }
    
    .d-md-none{
        display: none!important;
    }
    
    .d-md-inline-block{
        display: inline-block!important;
    }
}